
         body {
          background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.34226190476190477) 0%, rgba(77,62,45,1) 0%);
         }
     </style>
  <style> 
         #borderimg { 
          border: 10px solid transparent;
          padding: 15px;
          border-image: url(border.png) 30 stretch;
        }


